.menu {
  @apply fixed md:relative w-full md:w-[168px] z-10 flex flex-col gap-6 md:gap-12 bg-blueGrey-800 px-6 py-5 md:px-3 md:pt-9 md:pb-36 text-white font-semibold md:max-h-full overflow-hidden md:overflow-auto;
}
.menu-items {
  @apply flex flex-col flex-1 md:pl-6 gap-6 relative md:text-xs mt-6 md:mt-0;
  &::before {
    @apply hidden md:flex;

    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%2394a3b8' stroke-width='2' stroke-dasharray='2%2c10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% - 20px);
    // background-color: #94a3b8;
    left: 10px;
    top: 10px;
  }
  > li {
    @apply relative;
    > span{
      @apply cursor-pointer py-[6px] inline-block w-full md:w-auto;
    }
    &:not(.active)::before {
      @apply hidden md:flex;

      content: '';
      position: absolute;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #94a3b8;
      left: -18px;
      top: 9px;
    }
    &.active {
      > span {
        @apply bg-blueGrey-600 rounded-md px-2;
      }
      &::before {
        @apply hidden md:flex;

        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        left: -21px;
        top: 0px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1.99996C5.45806 1.99996 3.33333 4.19334 3.33333 6.98035C3.33333 7.58708 3.59947 8.33531 4.07748 9.16395C4.54801 9.97965 5.18473 10.8069 5.83618 11.5553C6.48548 12.3012 7.13681 12.9544 7.62681 13.4218C7.76577 13.5544 7.89143 13.6717 8 13.7716C8.10857 13.6717 8.23423 13.5544 8.37319 13.4218C8.86319 12.9544 9.51452 12.3012 10.1638 11.5553C10.8153 10.8069 11.452 9.97965 11.9225 9.16395C12.4005 8.33531 12.6667 7.58708 12.6667 6.98035C12.6667 4.19334 10.5419 1.99996 8 1.99996ZM8 14.6666C7.56635 15.173 7.56625 15.1729 7.56613 15.1728L7.56114 15.1685L7.54832 15.1574C7.53729 15.1479 7.52136 15.134 7.50085 15.1161C7.45982 15.0801 7.40045 15.0277 7.32536 14.9603C7.17521 14.8254 6.96193 14.6303 6.70652 14.3866C6.19652 13.9002 5.51452 13.2166 4.83049 12.4307C4.1486 11.6474 3.45199 10.7481 2.92252 9.83018C2.40053 8.92527 2 7.93301 2 6.98035C2 3.52979 4.6509 0.666626 8 0.666626C11.3491 0.666626 14 3.52979 14 6.98035C14 7.93301 13.5995 8.92527 13.0775 9.83018C12.548 10.7481 11.8514 11.6474 11.1695 12.4307C10.4855 13.2166 9.80348 13.9002 9.29348 14.3866C9.03807 14.6303 8.82479 14.8254 8.67464 14.9603C8.59955 15.0277 8.54018 15.0801 8.49915 15.1161C8.47864 15.134 8.46271 15.1479 8.45168 15.1574L8.43886 15.1685L8.43422 15.1725C8.4341 15.1726 8.43365 15.173 8 14.6666ZM8 14.6666L8.43365 15.173L8 15.5444L7.56613 15.1728L8 14.6666ZM8 4.57572C7.07311 4.57572 6.2963 5.34841 6.2963 6.33329C6.2963 7.31818 7.07311 8.09087 8 8.09087C8.92689 8.09087 9.7037 7.31818 9.7037 6.33329C9.7037 5.34841 8.92689 4.57572 8 4.57572ZM4.96296 6.33329C4.96296 4.64043 6.30865 3.24238 8 3.24238C9.69135 3.24238 11.037 4.64043 11.037 6.33329C11.037 8.02615 9.69135 9.4242 8 9.4242C6.30865 9.4242 4.96296 8.02615 4.96296 6.33329Z' fill='%23E2E8F0'/%3E%3C/svg%3E");
      }
    }
  }
}

// @media (min-width: 768px) {
//   .menu-items::before,.menu-items > li:not(.active)::before,.menu-items > li.active::before{
//     @apply hidden;
//   }
// }