$icomoon-font-family: "Kyons-Icon-Fonts" !default;
$icomoon-font-path: "fonts" !default;

$icon-MenuHambuger: "\e908";
$icon-Close: "\e909";
$icon-youtube: "\e906";
$icon-zalo: "\e907";
$icon-ArrowDown: "\e900";
$icon-ArrowUp: "\e901";
$icon-facebook: "\e902";
$icon-linkedin: "\e903";
$icon-Location: "\e904";
$icon-Phone: "\e905";

