$icomoon-font-family: "Kyons-Icon-Fonts" !default;
$icomoon-font-path: "fonts" !default;

$icon-ArrowDown: "\e900";
$icon-ArrowUp: "\e901";
$icon-facebook: "\e902";
$icon-linkedin: "\e903";
$icon-Location: "\e904";
$icon-Phone: "\e905";

