#homeAnimation {
  transition: all ease-in-out 1s;
  g {
    transition: all ease-out 0.8s;
  }
  &.start {
    #sun {
      transform: translateY(300px);
    }
    #mtBack,
    #mtFront,
    #river,
    #ground,
    #boy {
      transform: translateY(80px);
    }
    &.in {
      #sun {
        transform: translateY(0);
        transition-delay: 0.2s;
      }
      #mtBack,
      #mtFront,
      #river,
      #ground,
      #boy {
        opacity: 1;
        transform: translateY(0);
      }
      &.out {
        #sun {
          transform: translateY(500px);
          transition-delay: 0s;
        }
        #mtFront,
        #river,
        #ground,
        #boy {
          opacity: 0;
          transform: translateY(400px);
        }
        #mtBack {
          transform: translateY(400px);
        }
      }
    }
  }
}
