---
---

<html lang='en'>
  <head>
    <title>TERMS OF SERVICE</title>
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
  </head>
  <body>
    <embed
      src='Terms%20and%20Conditions.pdf'
      type='application/pdf'
      frameBorder='0'
      scrolling='auto'
      height='100%'
      width='100%'
      #tosIframe
      style='height: 100vh'
    />
  </body>
</html>
